<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :姓名 %><br />
    <input type="text" name="user[name]" class="form-control" style="width:280px;" value='<%= @user.name if @user.present? %>'>
  </div>
  <div class="field">
    <%= f.label :邮箱 %><br />
    <input type="text" name="user[email]" class="form-control" style="width:280px;"value='<%= @user.email if @user.present? %>'>
  </div>
  <div class="field">
    <%= f.label :密码 %><br />
    <input type='password' name="user[password]" class="form-control" style="width:280px;"value='<%= @user.password if @user.present? %>'>
  </div>
  <div class="actions">
   <button type="submit" class="btn btn-default">注册</button>
  </div>

<% end %>
